// mixin usable on all pages

// flexbox
@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_align_center {
  display: flex;
  align-items: center;
}

@mixin flex_justify_center {
  display: flex;
  justify-content: center;
}

@mixin txt-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}