@use "../abstracts/variables" as *;


footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 22px 25px;
  background: $color_secondary_dark;
  color: $color_white;

  li{
    img {
      height: 18px;
      margin-bottom: 9px;
      filter: invert(100%) brightness(100%) saturate(0%);
      object-fit: contain;
      width: unset;
      cursor: pointer;
    }
  }
  .footer-icon {
    display: flex;
    gap: 12px;
  }
  
}