@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


header {
  .header-logo {
    padding: 16px 0;
    @media screen and (min-width: 1024px) {
      padding: 30px;
    }
  }
  .header-logo img {
    height: 34px;
    object-fit: contain;
  }
}

// mixin only for restaurant pages
@mixin header_menu {
  ul {
    @include flex_justify_center;
    position: relative;
    li {
      .back-button {
        font-size: 20px;
        color: $color_secondary_dark;
        position: absolute;
        left: 0;
        top: 22px;
        left: 20px;
        @media screen and (min-width: 1024px) {
          top: 35px;
          left: 24px;
        }
      }
    }
  }
  .header-img {
    height: 275px;
    @media screen and (min-width: 1024px) {
      height: 383px;
    }
  }
}