@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


header {
  .header-logo {
    padding: 16px 0;
  }
  .header-logo img {
    height: 30px;
    object-fit: contain;
  }
}

// mixin only for restaurant pages
@mixin header_menu {
  ul {
    @include df_justify_center;
    position: relative;
    li {
      .back-button {
        font-size: 20px;
        color: $color_secondary_dark;
        position: absolute;
        left: 0;
        top: 18px;
        left: 20px;
      }
    }
  }
  .header-img {
    height: 275px;
  }
}