@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use 'sass:list';
@use 'sass:color';

// mixin usable on all pages
@mixin cta_gradient_primary {
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top ,$color_gradient_button);
  color: $color_white;
  box-shadow: 0 4px 10px #00000040;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

@mixin cta_gradient_hover {
  background: linear-gradient(
    to top,
    color.adjust($color_primary, $lightness: 10%),
    color.adjust($color_primary_light, $lightness: 10%)
  );
  box-shadow: 0 4px 15px #00000059;
}

@mixin heart_button {
  position: relative;
  width: 22px;
  height: 22px;
  .fa-regular,
  .fa-solid {
    cursor: pointer;
    font-size: 22px;
    transition: opacity 0.3s ease;
  }
  .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &:hover {
    .fa-solid {
      opacity: 1;
      background: linear-gradient(to bottom, list.nth($color_gradient_button, 1), list.nth($color_gradient_button, 2));
      background-clip: text;        
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .fa-regular {
      opacity: 0;
    }
  }
}


// mixin only for index page
@mixin btn_links_pages {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 26px;
  padding: 28px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 15px #00000026;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    width: 324px;
  }
}

@mixin btn_badge {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background: $color_secondary_light;
  color: $color_secondary_dark;
  padding: 6px 12px;
}

// mixin only for restaurant pages
@mixin cta_menu_gradient {
  padding: 40px 0;
  @include df_justify_center;
  button {
    @include cta_gradient_primary;
    padding-right: 48px;
    padding-left: 48px;
    &:hover {
      @include cta_gradient_hover;
    }
  }
}