@use "../base/variables" as *;


@mixin btn_badge {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background: $color_secondary_light;
  color: $color_secondary_dark;
  padding: 6px 12px;
}

@mixin cta_gradient_primary {
  margin-top: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top left,$color_gradient_button);
  color: $color_white;
  box-shadow: 0 4px 10px #00000040;
  font-size: 15px;
}

@mixin btn_links_pages {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 26px;
  padding: 28px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 15px #00000026;
}