@use "../base/mixins" as *;
@use "../base/variables" as *;


@mixin img_card {
  background: $color_white;
  border-radius: 20px;
  margin: 5px 0;
  &-content {
    padding: 15px;
    @include df_between;
    .card-txt {
      @include df_column;
      gap: 4px;
    }
    .card-heart {
      margin-top: 7px;
      .fa-regular {
        font-size: 22px;
      }
      .fa-solid {
        display: none;
      }
    }
  }
  img {
    height: 175px;
    border-radius: 15px 15px 0 0;
  }
}

@mixin menu_card {
  @include df_between;
  align-items: flex-end;
  background: $color_white;
  padding: 12px 15px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #0000001A;
  .card-txt {
    @include df_column;
    gap: 5px;
    p {
      font-size: 15px;
      font-weight: 300;
    }
  }
  .card-price {
    p {
      color: $color_secondary_dark;
      font-weight: 700;
    }
  }
}