@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/buttons" as *;


// mixin only for index page
@mixin img_card {
  background: $color_white;
  border-radius: 20px;
  margin: 5px 0;
  &-content {
    padding: 15px;
    @include df_between;
    .card-txt {
      @include df_column;
      gap: 4px;
    }
    .card-heart {
      @include heart_button;
      margin-top: 7px;
    }
  }
  img {
    height: 175px;
    border-radius: 15px 15px 0 0;
  }
}

// mixin only for restaurant pages
@mixin menu_card {
  .card-content {
    width: 100%;
    @include df_between;
    background: $color_white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #0000001A;
    cursor: pointer;
    .card-txt {
      @include df_column;
      gap: 5px;
      min-width: 0;
      h3 {
        @include txt-ellipsis;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        @include txt-ellipsis;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .card-price {
      display: flex;
      p {
        align-self: flex-end;
        color: $color_secondary_dark;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }
  .check-icon {
    display: none;
    font-size: 20px;
  }
  .card-content:hover {
    border-radius: 15px 0 0 15px;
  }
  .card-content:hover + .check-icon {
    @include df_align_center;
    background-color: $color_secondary_light;
    color: $color_white;
    padding: 0 19px;
    border-radius: 0 15px 15px 0;
  }
}