// mixin usable on all pages
@mixin df_column {
  display: flex;
  flex-direction: column;
}

@mixin df_between {
  display: flex;
  justify-content: space-between;
}

@mixin df_align_center {
  display: flex;
  align-items: center;
}

@mixin df_justify_center {
  display: flex;
  justify-content: center;
}