$color-white: white;
$color-background-dark: #EAEAEA;
$color-background-light: #F6F6F6;
$color-green-light: #99E2D0;
$color-green: #008766;
$color-green-dark: #353535;
$color-primary: #9356DC;
$color-primary-hover: #003A68;
$color-gradient: #FF79DA;