* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body a {
  color: inherit;
  text-decoration: none;
}
body ul {
  list-style-type: none;
}
body img {
  width: 100%;
  object-fit: cover;
  display: block;
}

header .header-logo {
  padding: 16px 0;
}
header .header-logo img {
  height: 30px;
  object-fit: contain;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 22px 25px;
  background: #353535;
  color: white;
}
footer ul li img {
  height: 18px;
  margin-bottom: 9px;
  filter: invert(100%) brightness(100%) saturate(0%);
  object-fit: contain;
  width: unset;
}
footer ul li p {
  margin: 0;
  padding: 0;
}
footer ul .footer-icon {
  display: flex;
  gap: 12px;
}

.homepage header .header-logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 3;
}
.homepage header .header-location {
  color: #353535;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 15px;
  background: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 2;
}
.homepage .hero {
  position: relative;
  z-index: 1;
  background: #F6F6F6;
  padding: 38px 0px 56px 0;
  text-align: center;
}
.homepage .hero ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.homepage .hero ul li h1 {
  padding: 0 39px;
}
.homepage .hero ul li p {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}
.homepage .hero ul li button {
  margin-top: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
}
.homepage .fonctionnement {
  padding: 46px 15px 67px 27px;
}
.homepage .fonctionnement h2 {
  margin-bottom: 28px;
}
.homepage .fonctionnement ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.homepage .fonctionnement ul li {
  position: relative;
  display: flex;
  align-items: center;
}
.homepage .fonctionnement ul li p {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  font-size: 14px;
}
.homepage .fonctionnement ul li p .circle-number {
  position: relative;
  top: 2px;
}
.homepage .fonctionnement ul li button {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 26px;
  padding: 28px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}
.homepage .fonctionnement ul li button .fa-solid {
  font-size: 18px;
}
.homepage .fonctionnement ul li button .fa-store {
  color: #9356DC;
}
.homepage .restaurants {
  background: #F6F6F6;
  padding: 50px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.homepage .restaurants h2 {
  padding-left: 5px;
}
.homepage .restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.homepage .restaurants .card {
  background: white;
  border-radius: 20px;
  margin: 5px 0;
}
.homepage .restaurants .card-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.homepage .restaurants .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.homepage .restaurants .card-content .card-heart {
  margin-top: 7px;
}
.homepage .restaurants .card-content .card-heart .fa-regular {
  font-size: 22px;
}
.homepage .restaurants .card-content .card-heart .fa-solid {
  display: none;
}
.homepage .restaurants .card img {
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.homepage .restaurants .card #img1 {
  object-position: center bottom;
}
.homepage .restaurants .card #img2 {
  object-position: center 61%;
}
.homepage .restaurants .card #img4,
.homepage .restaurants .card #img3 {
  object-position: center bottom;
}
.homepage .restaurants .card .image-container {
  position: relative;
}
.homepage .restaurants .card .image-container .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background: #99E2D0;
  color: #353535;
  padding: 6px 12px;
}

.a-la-francaise header ul {
  display: flex;
  justify-content: center;
  position: relative;
}
.a-la-francaise header ul li .back-button {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 0;
  top: 18px;
  left: 20px;
}
.a-la-francaise header ul li .header-img {
  height: 275px;
}
.a-la-francaise .menu {
  position: relative;
  margin-top: -40px;
  background: #F6F6F6;
  padding: 12px;
  border-radius: 40px 40px 0 0;
}
.a-la-francaise .menu .menu-title {
  display: flex;
  justify-content: space-between;
}
.a-la-francaise .menu .menu-title h1 {
  margin-top: 12px;
  font-family: "Shrikhand", sans-serif;
}
.a-la-francaise .menu .menu-content li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.a-la-francaise .menu .menu-content li h2 {
  margin-top: 42px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.a-la-francaise .menu .menu-content li .menu-entrees {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.a-la-francaise .menu .menu-content li .menu-entrees .card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  padding: 12px 15px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
}
.a-la-francaise .menu .menu-content li .menu-entrees .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.a-la-francaise .menu .menu-content li .menu-entrees .card-content .card-txt p {
  font-size: 15px;
  font-weight: 300;
}
.a-la-francaise .menu .menu-content li .menu-entrees .card-content .card-price p {
  color: #353535;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
