* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body a {
  color: inherit;
  text-decoration: none;
}
body ul {
  list-style-type: none;
}
body img {
  width: 100%;
  object-fit: cover;
  display: block;
}

header .header-logo {
  padding: 16px 0;
}
header .header-logo img {
  height: 34px;
  object-fit: contain;
}

footer .footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 25px;
  background: #353535;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer .footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 90px;
    padding: 68px 66px 25px 25px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer .footer-logo {
    margin-bottom: 4px;
    order: 3;
  }
}
footer .footer .footer-logo a {
  width: fit-content;
}
footer .footer .footer-logo a img {
  height: 18px;
  filter: invert(100%) brightness(100%) saturate(0%);
  object-fit: contain;
  width: unset;
}
footer .footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footer-content {
    flex-direction: row;
    gap: 42px;
  }
}
footer .footer .footer-content .footer-links-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footer-content .footer-links-group {
    flex-direction: row;
  }
}
footer .footer .footer-content .footer-links-group .footer-link-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .footer .footer-content .footer-links-group .footer-link-item i {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footer-content .footer-links-group .footer-link-item {
    gap: 10px;
    order: 1;
  }
}
footer .footer .footer-content .footer-legal {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footer-content .footer-legal {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    order: 2;
  }
}

.homepage .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 2s;
}
.homepage .loader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #9356DC;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.homepage .loader .ohmyfood {
  padding: 0 15px;
}
.homepage .page-content {
  opacity: 0;
  animation: showPage 1s ease forwards;
  animation-delay: 3s;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes showPage {
  to {
    opacity: 1;
  }
}
.homepage header .header-logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .homepage header .header-logo {
    box-shadow: none;
  }
}
.homepage header .header-location {
  color: #353535;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 15px;
  background: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .homepage header .header-location {
    box-shadow: none;
  }
}
.homepage .hero {
  position: relative;
  z-index: 1;
  background: #F6F6F6;
  padding: 38px 0 56px 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .homepage .hero {
    padding: 27px 0;
  }
}
.homepage .hero ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 1024px) {
  .homepage .hero ul {
    gap: 24px;
  }
}
.homepage .hero ul li h1 {
  padding: 0 39px;
}
@media screen and (min-width: 1024px) {
  .homepage .hero ul li h1 {
    font-size: 40px;
  }
}
.homepage .hero ul li p {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}
.homepage .hero ul li button {
  margin-top: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.homepage .hero ul li button:hover {
  background: linear-gradient(to top, rgb(174, 128.25, 228.75), rgb(255, 172, 232.0820895522));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3490196078);
}
.homepage .fonctionnement {
  padding: 46px 15px 67px 27px;
}
@media screen and (min-width: 1024px) {
  .homepage .fonctionnement {
    padding: 46px 15px 51px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}
.homepage .fonctionnement h2 {
  margin-bottom: 28px;
}
.homepage .fonctionnement ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media screen and (min-width: 1024px) {
  .homepage .fonctionnement ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    max-width: 1081px;
    width: 100%;
    padding-left: 13px;
    padding-right: 24px;
  }
}
.homepage .fonctionnement ul li {
  position: relative;
  display: flex;
  align-items: center;
}
.homepage .fonctionnement ul li p {
  display: flex;
  align-items: center;
  position: absolute;
  left: -12px;
  justify-content: center;
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  font-size: 14px;
}
.homepage .fonctionnement ul li p .circle-number {
  position: relative;
  top: 2px;
}
.homepage .fonctionnement ul li button {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 26px;
  padding: 28px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .homepage .fonctionnement ul li button {
    width: 324px;
  }
}
.homepage .fonctionnement ul li button .fa-solid {
  font-size: 18px;
  transition: color 0.3s ease;
  color: #7E7E7E;
}
.homepage .fonctionnement ul li button:hover .fa-mobile-screen-button,
.homepage .fonctionnement ul li button:hover .fa-list-ul,
.homepage .fonctionnement ul li button:hover .fa-store {
  color: #9356DC;
}
.homepage .restaurants {
  background: #F6F6F6;
  padding: 50px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .homepage .restaurants {
    gap: 20px;
    padding: 27px 14px 30px 14px;
  }
}
.homepage .restaurants h2 {
  padding-left: 5px;
}
@media screen and (min-width: 1024px) {
  .homepage .restaurants h2 {
    padding-left: 0;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}
.homepage .restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .homepage .restaurants .restaurants-cards {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}
.homepage .restaurants .restaurants-cards .restaurants-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .homepage .restaurants .restaurants-cards .restaurants-row {
    gap: 50px;
  }
}
.homepage .restaurants .restaurants-cards .restaurants-row .card {
  background: white;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .homepage .restaurants .restaurants-cards .restaurants-row .card {
    width: 490px;
    height: 251px;
  }
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart {
  position: relative;
  width: 22px;
  height: 22px;
  margin-top: 7px;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart .fa-regular,
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart .fa-solid {
  cursor: pointer;
  font-size: 22px;
  transition: opacity 0.3s ease;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card-content .card-heart:hover .fa-regular {
  opacity: 0;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card img {
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card #img1 {
  object-position: center bottom;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card #img2 {
  object-position: center 61%;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card #img4,
.homepage .restaurants .restaurants-cards .restaurants-row .card #img3 {
  object-position: center bottom;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card .image-container {
  position: relative;
}
.homepage .restaurants .restaurants-cards .restaurants-row .card .image-container .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background: #99E2D0;
  color: #353535;
  padding: 6px 12px;
}

.la-palette-du-gout header ul {
  display: flex;
  justify-content: center;
  position: relative;
}
.la-palette-du-gout header ul li .back-button {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 0;
  top: 18px;
  left: 20px;
}
.la-palette-du-gout header .header-img {
  height: 275px;
}
.la-palette-du-gout .menu {
  position: relative;
  margin-top: -40px;
  background: #F6F6F6;
  padding: 34px 12px 12px 12px;
  border-radius: 40px 40px 0 0;
}
.la-palette-du-gout .menu .menu-title {
  padding: 0 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.la-palette-du-gout .menu .menu-title .card-heart {
  position: relative;
  width: 22px;
  height: 22px;
}
.la-palette-du-gout .menu .menu-title .card-heart .fa-regular,
.la-palette-du-gout .menu .menu-title .card-heart .fa-solid {
  cursor: pointer;
  font-size: 22px;
  transition: opacity 0.3s ease;
}
.la-palette-du-gout .menu .menu-title .card-heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.la-palette-du-gout .menu .menu-title .card-heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la-palette-du-gout .menu .menu-title .card-heart:hover .fa-regular {
  opacity: 0;
}
.la-palette-du-gout .menu .menu-title h1 {
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}
.la-palette-du-gout .menu .menu-content li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.la-palette-du-gout .menu .menu-content li h2 {
  padding-bottom: 4px;
  margin-top: 42px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.2s;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li:hover .card-price {
  padding-right: 58px;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-appetizers li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-palette-du-gout .menu .menu-content li .menu-mains {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.6s;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li:hover .card-price {
  padding-right: 58px;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-mains li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 1.5s;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li:hover .card-price {
  padding-right: 58px;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-palette-du-gout .menu .menu-content li .menu-desserts li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-palette-du-gout .menu .menu-cta {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.la-palette-du-gout .menu .menu-cta button {
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  padding-right: 48px;
  padding-left: 48px;
}
.la-palette-du-gout .menu .menu-cta button:hover {
  background: linear-gradient(to top, rgb(174, 128.25, 228.75), rgb(255, 172, 232.0820895522));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3490196078);
}

.le-delice-des-sens header ul {
  display: flex;
  justify-content: center;
  position: relative;
}
.le-delice-des-sens header ul li .back-button {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 0;
  top: 18px;
  left: 20px;
}
.le-delice-des-sens header .header-img {
  height: 275px;
}
.le-delice-des-sens .menu {
  position: relative;
  margin-top: -40px;
  background: #F6F6F6;
  padding: 34px 12px 12px 12px;
  border-radius: 40px 40px 0 0;
}
.le-delice-des-sens .menu .menu-title {
  padding: 0 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.le-delice-des-sens .menu .menu-title .card-heart {
  position: relative;
  width: 22px;
  height: 22px;
}
.le-delice-des-sens .menu .menu-title .card-heart .fa-regular,
.le-delice-des-sens .menu .menu-title .card-heart .fa-solid {
  cursor: pointer;
  font-size: 22px;
  transition: opacity 0.3s ease;
}
.le-delice-des-sens .menu .menu-title .card-heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.le-delice-des-sens .menu .menu-title .card-heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le-delice-des-sens .menu .menu-title .card-heart:hover .fa-regular {
  opacity: 0;
}
.le-delice-des-sens .menu .menu-title h1 {
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}
.le-delice-des-sens .menu .menu-content li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.le-delice-des-sens .menu .menu-content li h2 {
  padding-bottom: 4px;
  margin-top: 42px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.2s;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li:hover .card-price {
  padding-right: 58px;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-appetizers li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.le-delice-des-sens .menu .menu-content li .menu-mains {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.6s;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li:hover .card-price {
  padding-right: 58px;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-mains li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 1.5s;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li:hover .card-price {
  padding-right: 58px;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.le-delice-des-sens .menu .menu-content li .menu-desserts li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.le-delice-des-sens .menu .menu-cta {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.le-delice-des-sens .menu .menu-cta button {
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  padding-right: 48px;
  padding-left: 48px;
}
.le-delice-des-sens .menu .menu-cta button:hover {
  background: linear-gradient(to top, rgb(174, 128.25, 228.75), rgb(255, 172, 232.0820895522));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3490196078);
}

.la-note-enchantee header ul {
  display: flex;
  justify-content: center;
  position: relative;
}
.la-note-enchantee header ul li .back-button {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 0;
  top: 18px;
  left: 20px;
}
.la-note-enchantee header .header-img {
  height: 275px;
}
.la-note-enchantee .menu {
  position: relative;
  margin-top: -40px;
  background: #F6F6F6;
  padding: 34px 12px 12px 12px;
  border-radius: 40px 40px 0 0;
}
.la-note-enchantee .menu .menu-title {
  padding: 0 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.la-note-enchantee .menu .menu-title .card-heart {
  position: relative;
  width: 22px;
  height: 22px;
}
.la-note-enchantee .menu .menu-title .card-heart .fa-regular,
.la-note-enchantee .menu .menu-title .card-heart .fa-solid {
  cursor: pointer;
  font-size: 22px;
  transition: opacity 0.3s ease;
}
.la-note-enchantee .menu .menu-title .card-heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.la-note-enchantee .menu .menu-title .card-heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la-note-enchantee .menu .menu-title .card-heart:hover .fa-regular {
  opacity: 0;
}
.la-note-enchantee .menu .menu-title h1 {
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}
.la-note-enchantee .menu .menu-content li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.la-note-enchantee .menu .menu-content li h2 {
  padding-bottom: 4px;
  margin-top: 42px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.2s;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li:hover .card-price {
  padding-right: 58px;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-appetizers li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-note-enchantee .menu .menu-content li .menu-mains {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.6s;
}
.la-note-enchantee .menu .menu-content li .menu-mains li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-note-enchantee .menu .menu-content li .menu-mains li:hover .card-price {
  padding-right: 58px;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-mains li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-note-enchantee .menu .menu-content li .menu-desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 1.5s;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li:hover .card-price {
  padding-right: 58px;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.la-note-enchantee .menu .menu-content li .menu-desserts li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.la-note-enchantee .menu .menu-cta {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.la-note-enchantee .menu .menu-cta button {
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  padding-right: 48px;
  padding-left: 48px;
}
.la-note-enchantee .menu .menu-cta button:hover {
  background: linear-gradient(to top, rgb(174, 128.25, 228.75), rgb(255, 172, 232.0820895522));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3490196078);
}

.a-la-francaise header ul {
  display: flex;
  justify-content: center;
  position: relative;
}
.a-la-francaise header ul li .back-button {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 0;
  top: 18px;
  left: 20px;
}
.a-la-francaise header .header-img {
  height: 275px;
}
.a-la-francaise .menu {
  position: relative;
  margin-top: -40px;
  background: #F6F6F6;
  padding: 34px 12px 12px 12px;
  border-radius: 40px 40px 0 0;
}
.a-la-francaise .menu .menu-title {
  padding: 0 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-la-francaise .menu .menu-title .card-heart {
  position: relative;
  width: 22px;
  height: 22px;
}
.a-la-francaise .menu .menu-title .card-heart .fa-regular,
.a-la-francaise .menu .menu-title .card-heart .fa-solid {
  cursor: pointer;
  font-size: 22px;
  transition: opacity 0.3s ease;
}
.a-la-francaise .menu .menu-title .card-heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.a-la-francaise .menu .menu-title .card-heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.a-la-francaise .menu .menu-title .card-heart:hover .fa-regular {
  opacity: 0;
}
.a-la-francaise .menu .menu-title h1 {
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
}
.a-la-francaise .menu .menu-content li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.a-la-francaise .menu .menu-content li h2 {
  padding-bottom: 4px;
  margin-top: 42px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.a-la-francaise .menu .menu-content li .menu-appetizers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.2s;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li:hover .card-price {
  padding-right: 58px;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-appetizers li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.a-la-francaise .menu .menu-content li .menu-mains {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 0.6s;
}
.a-la-francaise .menu .menu-content li .menu-mains li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.a-la-francaise .menu .menu-content li .menu-mains li:hover .card-price {
  padding-right: 58px;
}
.a-la-francaise .menu .menu-content li .menu-mains li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-mains li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.a-la-francaise .menu .menu-content li .menu-desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
  animation-delay: 1.5s;
}
.a-la-francaise .menu .menu-content li .menu-desserts li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content .card-txt h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content .card-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content .card-price {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content .card-price p {
  align-self: flex-end;
  color: #353535;
  font-weight: 700;
  white-space: nowrap;
}
.a-la-francaise .menu .menu-content li .menu-desserts li:hover .card-price {
  padding-right: 58px;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.a-la-francaise .menu .menu-content li .menu-desserts li .card-content:hover .check-icon {
  width: 58px;
  opacity: 1;
  padding: 0 19px;
}
.a-la-francaise .menu .menu-cta {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.a-la-francaise .menu .menu-cta button {
  padding: 16px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  padding-right: 48px;
  padding-left: 48px;
}
.a-la-francaise .menu .menu-cta button:hover {
  background: linear-gradient(to top, rgb(174, 128.25, 228.75), rgb(255, 172, 232.0820895522));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3490196078);
}

/*# sourceMappingURL=main.css.map */
