@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/cards" as *;
@use "../base/buttons" as *;


.homepage {
  .restaurants{
    background: $color-background-grey-light;
    padding: 50px 15px 60px 15px;
    @include df-column;
    gap: 15px;

    h2 {
      padding-left: 5px;
    }    

    .restaurants-cards {
      @include df-column;
      gap: 8px;
    }
    
    .card {
      @include img-card;

      #img1 {
        object-position: center bottom;
      }

      #img2 {
        object-position: center 61%;
      }

      #img4,
      #img3 {
        object-position: center bottom;
      }
    
      .image-container {
        position: relative;
    
        .badge {
          @include button-badge;
        }
      }
    }  
  }
}
