@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/buttons" as *;

.homepage {
  .restaurants{
    background: $color-background-grey-light;
    padding: 50px 15px 60px 15px;
    @include df-column;
    gap: 15px;

    h2 {
      padding-left: 5px;
    }    

    .restaurants-cards {
      @include df-column;
      gap: 8px;
    }
    
    .card {
      background: $color-white;
      border-radius: 20px;
      margin: 5px 0;
    
      &-content {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        
        .card-txt {
          @include df-column;
          gap: 4px;
        }
        
        .card-heart {
          margin-top: 7px;
          .fa-regular {
            font-size: 22px;
          }
      
          .fa-solid {
            display: none;
          }
        }
      }
    
      img {
        height: 175px;
        border-radius: 15px 15px 0 0;
      }

      #img1 {
        object-position: center bottom;
      }

      #img2 {
        object-position: center 61%;
      }

      #img4,
      #img3 {
        object-position: center bottom;
      }
    
      .image-container {
        position: relative;
    
        .badge {
          @include button-badge;
        }
      }
    }  
  }
}
