@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/cards" as *;
@use "../base/buttons" as *;


.homepage {
  header {
    .homepage-logo {
      box-shadow: 0 2px 4px #00000026;
      position: relative;
      z-index: 3;
    }
    .location {
      color: $color-secondary-dark;
      font-weight: 500;
      display: flex;
      justify-content: center;
      gap: 17px;
      padding: 15px;
      background: $color_background-dark;
      box-shadow: 0 4px 4px #00000040;
      position: relative;
      z-index: 2;
    }
  }

  .hero {
    position: relative;
    z-index: 1;
    background: $color_background_light;
    padding: 38px 0px 56px 0;
    text-align: center;
    ul {
      @include df_column;
      gap: 12px;
      li {
        h1 {
          padding: 0 39px;
        }
        p {
          font-size: 18px;
          color: $color_secondary_dark;
          font-weight: 300;
        }
        button {
          @include cta_gradient_primary;
        }
      }
    }
  }

  .fonctionnement {
    padding: 46px 15px 67px 27px;
    h2 {
      margin-bottom: 28px;
    }
    ul {
      @include df_column;
      gap: 22px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        p {
          position: absolute;
          left: -12px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: $color_primary;
          color: $color_white;
          font-size: 14px;
          .circle-number {
            position: relative;
            top: 2px;
          }
        }
        button {
          @include btn_links_pages;
          .fa-solid {
            font-size: 18px;
          }
          .fa-store {
            color: $color_primary;
          }
        }
      }
    }
  }

  .restaurants{
    background: $color_background_light;
    padding: 50px 15px 60px 15px;
    @include df_column;
    gap: 15px;
    h2 {
      padding-left: 5px;
    }    
    .restaurants-cards {
      @include df_column;
      gap: 8px;
    }
    .card {
      @include img_card;
      #img1 {
        object-position: center bottom;
      }
      #img2 {
        object-position: center 61%;
      }
      #img4,
      #img3 {
        object-position: center bottom;
      }
      .image-container {
        position: relative;
        .badge {
          @include btn_badge;
        }
      }
    }  
  }
}
